$main-color: #007dff;
$sec-color: #f5f6f8;
$main-black: #0c0c0c;

@font-face {
  font-family: "Cairo Light";
  src: url(../assets/fonts/Cairo-Light.ttf);
}
@font-face {
  font-family: "Cairo Medium";
  src: url(../assets/fonts/Cairo-Medium.ttf);
}
@font-face {
  font-family: "Cairo Black";
  src: url(../assets/fonts/Cairo-Black.ttf);
}
@font-face {
  font-family: "Advent Light";
  src: url(../assets/fonts/AdventPro-Light.ttf);
}
@font-face {
  font-family: "Advent SemiBold";
  src: url(../assets/fonts/AdventPro-SemiBold.ttf);
}

body {
  height: 100dvh;
}
main {
  height: 100%;
  width: 100%;

  background-image: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0.2)),
    url("../assets/imgs/background.jpg");
  background-size: cover;
  background-position: center;
}
section {
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 620px;
  width: 1000px;
  background-color: $sec-color;
  border-radius: 24px;
  border: 1px solid #0c0c0c;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  filter: drop-shadow(2px 4px 4px hsla(0, 0%, 0%, 0.2));
}

.top-content {
  display: flex;
  height: calc(100% - 110px);
}
// SideBar
.sidebar {
  width: 25%;
  height: 100%;
  background-color: white;
  outline: 1px solid black;
  border-left: 1px solid black;
  border-top-right-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $main-black;
  .search {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    .inbut {
      font-family: "Cairo Medium";
      direction: rtl;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      width: 80%;
      .searchImg {
        transition: all 0.3s;
        img {
          display: block;
          transform: rotateY(180deg);
          width: 16px;
          height: 16px;
        }
      }
      input {
        width: 90%;
        padding-inline-start: 12px;
        display: block;
        background-color: transparent;
        border: 0;
        &:focus-visible {
          border: 0;
          outline: 0;
        }
      }
      input:focus-visible ~ label {
        opacity: 0;
      }
    }
    .currentLocation {
      img {
        display: block;
        width: 24px;
        height: 24px;
      }
    }
  }
  .cityName {
    font-family: "Cairo Black";
    font-size: 26px;
  }
  .weatherIcon {
    width: 100px;
    img {
      display: block;
      width: 100%;
    }
  }
  .currentDegree {
    display: flex;

    span {
      font-family: "Advent SemiBold";
      font-size: 20px;
    }
    span.degNumber {
      font-family: "Advent Light";
      font-size: 96px;
      line-height: 1;
    }
  }
  .todayDate {
    font-size: 16px;
    .dayName {
      font-family: "Cairo Medium";
    }
    .timeNow {
      font-family: "Cairo Light";
    }
  }
  .minmaxDeg {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 100%;
    .deg {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Cairo Light";
      text-align: center;
      p {
        margin: 0;
        font-family: "Cairo Medium";
      }
      span {
        font-size: 20px;
      }
      span.minDeg {
        font-size: 18px;
        font-family: "Cairo Black";
      }
      span.maxDeg {
        font-size: 18px;
        font-family: "Cairo Black";
      }
    }
  }
}
// Dashbored
.dashbored {
  width: 75%;
  height: 100%;
  background-image: linear-gradient(135deg, #92bdf6, #f5f6f8);
  outline: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
  align-items: center;
  .col1 {
    background-color: white;
    border: 1px solid $main-black;
    height: 100%;
    border-radius: 16px;
    width: 45%;
    filter: drop-shadow(2px 4px 4px hsla(0, 0%, 0%, 0.2));
  }

  .col2 {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    .row1 {
      width: 100%;
      height: 45%;
      background-color: white;
      border: 1px solid $main-black;
      border-radius: 16px;
      padding: 16px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      filter: drop-shadow(2px 4px 4px hsla(0, 0%, 0%, 0.2));

      .stateCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .stateName {
          font-family: "Cairo Black";
          font-size: 22px;
        }
        img {
          width: 50px;
        }
        .stateChange {
          font-family: "Cairo Medium";
          font-size: 20px;
        }
      }
    }
    .row2 {
      height: 55%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      .col1-2 {
        height: 100%;
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;

        .rightStateCard {
          filter: drop-shadow(2px 4px 4px hsla(0, 0%, 0%, 0.2));
          width: 100%;
          padding: 12px 16px;
          border: 1px solid $main-black;
          background-color: white;
          border-radius: 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .stateCardName {
            font-family: "Cairo Black";
            font-size: 20px;
          }
          .rightStateCardBox {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            img {
              width: 50px;
            }
            span {
              font-family: "Cairo Medium";
              font-size: 24px;
            }
          }
        }
        .leftStateCard {
          filter: drop-shadow(2px 4px 4px hsla(0, 0%, 0%, 0.2));
          width: 100%;
          padding: 12px 16px;
          border: 1px solid $main-black;
          background-color: white;
          border-radius: 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .stateCardName {
            font-family: "Cairo Black";
            font-size: 20px;
          }
          .leftStateCardBox {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            img {
              width: 50px;
            }
            span {
              font-family: "Cairo Medium";
              font-size: 24px;
            }
          }
        }
      }
      .col2-2 {
        filter: drop-shadow(2px 4px 4px hsla(0, 0%, 0%, 0.2));
        padding: 16px 12px;
        height: 100%;
        width: 40%;
        border: 1px solid $main-black;
        background-color: white;
        border-radius: 16px;
        .stateCard {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          .stateName {
            font-family: "Cairo Black";
            font-size: 20px;
          }
          .stateChange {
            font-family: "Cairo Medium";
            font-size: 24px;
          }
        }
      }
    }
  }
}
.forcast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 24px;
  .dayCard {
    display: flex;
    width: 100%;
    font-size: 16px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    img {
      width: 50px;
    }
    .dayNo {
      font-family: "Cairo Black";
      text-align: end;
      width: 20%;
    }
    .dailyTemp {
      width: 35%;
      font-family: "Cairo Light";
      .maxDTemp {
        font-size: 18px;
        font-family: "Cairo Black";
      }
    }
  }
}

// Sound Player
.soundPlayer {
  align-self: flex-end;
  width: 100%;
  height: 110px;
  background-color: $main-color;
  color: $sec-color;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top: 1px solid #0c0c0c;
  outline: 1px solid #0c0c0c;
  display: flex;
  padding: 20px 32px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.nowPlaying {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  .surahTitle {
    font-size: 24px;
    font-family: "Cairo Black";
  }
  .readerName {
    font-size: 16px;
    font-family: "Cairo Medium";
  }
}

.timeTracker {
  font-size: 24px;
  font-family: "Cairo Light";
  .currentTime {
  }
  .totalTime {
  }
}

.ctrlBtns {
  display: flex;
  align-items: center;
  gap: 36px;
  button {
    cursor: pointer;
    background-color: $main-black;
    border: none;
    padding: 0;
    border-radius: 50%;
    color: $sec-color;
    img {
      width: 100%;
    }
  }

  .playPause {
    width: 60px;
    height: 60px;
    img {
      width: 40px;
    }
  }
  .next {
    width: 40px;
    height: 40px;
  }
  .prev {
    width: 40px;
    height: 40px;
  }
}
