@font-face {
  font-family: "Cairo Light";
  src: url(../assets/fonts/Cairo-Light.ttf);
}
@font-face {
  font-family: "Cairo Medium";
  src: url(../assets/fonts/Cairo-Medium.ttf);
}
@font-face {
  font-family: "Cairo Black";
  src: url(../assets/fonts/Cairo-Black.ttf);
}
@font-face {
  font-family: "Advent Light";
  src: url(../assets/fonts/AdventPro-Light.ttf);
}
@font-face {
  font-family: "Advent SemiBold";
  src: url(../assets/fonts/AdventPro-SemiBold.ttf);
}
body {
  height: 100dvh;
}

main {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0.2)), url("../assets/imgs/background.jpg");
  background-size: cover;
  background-position: center;
}

section {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 620px;
  width: 1000px;
  background-color: #f5f6f8;
  border-radius: 24px;
  border: 1px solid #0c0c0c;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  filter: drop-shadow(2px 4px 4px hsla(0, 0%, 0%, 0.2));
}

.top-content {
  display: flex;
  height: calc(100% - 110px);
}

.sidebar {
  width: 25%;
  height: 100%;
  background-color: white;
  outline: 1px solid black;
  border-left: 1px solid black;
  border-top-right-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #0c0c0c;
}
.sidebar .search {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}
.sidebar .search .inbut {
  font-family: "Cairo Medium";
  direction: rtl;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 80%;
}
.sidebar .search .inbut .searchImg {
  transition: all 0.3s;
}
.sidebar .search .inbut .searchImg img {
  display: block;
  transform: rotateY(180deg);
  width: 16px;
  height: 16px;
}
.sidebar .search .inbut input {
  width: 90%;
  padding-inline-start: 12px;
  display: block;
  background-color: transparent;
  border: 0;
}
.sidebar .search .inbut input:focus-visible {
  border: 0;
  outline: 0;
}
.sidebar .search .inbut input:focus-visible ~ label {
  opacity: 0;
}
.sidebar .search .currentLocation img {
  display: block;
  width: 24px;
  height: 24px;
}
.sidebar .cityName {
  font-family: "Cairo Black";
  font-size: 26px;
}
.sidebar .weatherIcon {
  width: 100px;
}
.sidebar .weatherIcon img {
  display: block;
  width: 100%;
}
.sidebar .currentDegree {
  display: flex;
}
.sidebar .currentDegree span {
  font-family: "Advent SemiBold";
  font-size: 20px;
}
.sidebar .currentDegree span.degNumber {
  font-family: "Advent Light";
  font-size: 96px;
  line-height: 1;
}
.sidebar .todayDate {
  font-size: 16px;
}
.sidebar .todayDate .dayName {
  font-family: "Cairo Medium";
}
.sidebar .todayDate .timeNow {
  font-family: "Cairo Light";
}
.sidebar .minmaxDeg {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  width: 100%;
}
.sidebar .minmaxDeg .deg {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cairo Light";
  text-align: center;
}
.sidebar .minmaxDeg .deg p {
  margin: 0;
  font-family: "Cairo Medium";
}
.sidebar .minmaxDeg .deg span {
  font-size: 20px;
}
.sidebar .minmaxDeg .deg span.minDeg {
  font-size: 18px;
  font-family: "Cairo Black";
}
.sidebar .minmaxDeg .deg span.maxDeg {
  font-size: 18px;
  font-family: "Cairo Black";
}

.dashbored {
  width: 75%;
  height: 100%;
  background-image: linear-gradient(135deg, #92bdf6, #f5f6f8);
  outline: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
  align-items: center;
}
.dashbored .col1 {
  background-color: white;
  border: 1px solid #0c0c0c;
  height: 100%;
  border-radius: 16px;
  width: 45%;
  filter: drop-shadow(2px 4px 4px hsla(0, 0%, 0%, 0.2));
}
.dashbored .col2 {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.dashbored .col2 .row1 {
  width: 100%;
  height: 45%;
  background-color: white;
  border: 1px solid #0c0c0c;
  border-radius: 16px;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(2px 4px 4px hsla(0, 0%, 0%, 0.2));
}
.dashbored .col2 .row1 .stateCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.dashbored .col2 .row1 .stateCard .stateName {
  font-family: "Cairo Black";
  font-size: 22px;
}
.dashbored .col2 .row1 .stateCard img {
  width: 50px;
}
.dashbored .col2 .row1 .stateCard .stateChange {
  font-family: "Cairo Medium";
  font-size: 20px;
}
.dashbored .col2 .row2 {
  height: 55%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.dashbored .col2 .row2 .col1-2 {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.dashbored .col2 .row2 .col1-2 .rightStateCard {
  filter: drop-shadow(2px 4px 4px hsla(0, 0%, 0%, 0.2));
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #0c0c0c;
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashbored .col2 .row2 .col1-2 .rightStateCard .stateCardName {
  font-family: "Cairo Black";
  font-size: 20px;
}
.dashbored .col2 .row2 .col1-2 .rightStateCard .rightStateCardBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.dashbored .col2 .row2 .col1-2 .rightStateCard .rightStateCardBox img {
  width: 50px;
}
.dashbored .col2 .row2 .col1-2 .rightStateCard .rightStateCardBox span {
  font-family: "Cairo Medium";
  font-size: 24px;
}
.dashbored .col2 .row2 .col1-2 .leftStateCard {
  filter: drop-shadow(2px 4px 4px hsla(0, 0%, 0%, 0.2));
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #0c0c0c;
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashbored .col2 .row2 .col1-2 .leftStateCard .stateCardName {
  font-family: "Cairo Black";
  font-size: 20px;
}
.dashbored .col2 .row2 .col1-2 .leftStateCard .leftStateCardBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.dashbored .col2 .row2 .col1-2 .leftStateCard .leftStateCardBox img {
  width: 50px;
}
.dashbored .col2 .row2 .col1-2 .leftStateCard .leftStateCardBox span {
  font-family: "Cairo Medium";
  font-size: 24px;
}
.dashbored .col2 .row2 .col2-2 {
  filter: drop-shadow(2px 4px 4px hsla(0, 0%, 0%, 0.2));
  padding: 16px 12px;
  height: 100%;
  width: 40%;
  border: 1px solid #0c0c0c;
  background-color: white;
  border-radius: 16px;
}
.dashbored .col2 .row2 .col2-2 .stateCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.dashbored .col2 .row2 .col2-2 .stateCard .stateName {
  font-family: "Cairo Black";
  font-size: 20px;
}
.dashbored .col2 .row2 .col2-2 .stateCard .stateChange {
  font-family: "Cairo Medium";
  font-size: 24px;
}

.forcast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 24px;
}
.forcast .dayCard.active {
  padding-inline: 4px;
  color: white;
  border-radius: 16px;
  background-color: #007dff;
}
.forcast .dayCard {
  display: flex;
  width: 100%;
  font-size: 16px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.forcast .dayCard:not(:last-child) {
  padding-bottom: 4px;
  padding-top: 8px;
  border-bottom: 1px solid #0c0c0c;
}
.forcast .dayCard img {
  width: 50px;
}
.forcast .dayCard .dayNo {
  font-family: "Cairo Black";
  text-align: end;
  width: 30%;
}
.forcast .dayCard .dailyTemp {
  width: 35%;
  font-family: "Cairo Light";
}
.forcast .dayCard .dailyTemp .maxDTemp {
  font-size: 18px;
  font-family: "Cairo Black";
}

.soundPlayer {
  align-self: flex-end;
  width: 100%;
  height: 110px;
  background-color: #007dff;
  color: #f5f6f8;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top: 1px solid #0c0c0c;
  outline: 1px solid #0c0c0c;
  display: flex;
  padding: 20px 32px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.nowPlaying {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
}
.nowPlaying .surahTitle {
  font-size: 24px;
  font-family: "Cairo Black";
}
.nowPlaying .readerName {
  font-size: 16px;
  font-family: "Cairo Medium";
}

.timeTracker {
  font-size: 24px;
  font-family: "Cairo Light";
}
.ctrlBtns {
  display: flex;
  align-items: center;
  gap: 36px;
}
.ctrlBtns button {
  cursor: pointer;
  background-color: #0c0c0c;
  border: none;
  padding: 0;
  border-radius: 50%;
  color: #f5f6f8;
}
.ctrlBtns button img {
  width: 100%;
}
.ctrlBtns .playPause {
  width: 60px;
  height: 60px;
}
.ctrlBtns .playPause img {
  width: 40px;
}
.ctrlBtns .next {
  width: 40px;
  height: 40px;
}
.ctrlBtns .prev {
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=main.css.map */